# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env*.local
.env.local

# local dev data
/data/state.local.json
/public/uploads

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*

# vercel
.vercel
